
<%= search_form_for @ransack_search, :url => (options[:url] || url_for(:action => :index)),
  :html => {:method => :get, :class => "ransack_search"}, :remote => !!options[:remote] do |f| %>

  <%= javascript_tag do %>
    if (window.Ransack == null) { window.Ransack = {}; }
    Ransack.alt_predicates_i18n = <%= I18n.translate(:"ransack.predicates.alt", :default => {}).to_json.html_safe %>;
    Ransack.value_field_labels  = <%= f.labels_for_value_fields.to_json.html_safe %>
  <% end %>

  <div class="row">
    <div class="span12 well">
      <%= f.sort_fields do |s| %>
        <%= render 'ransack_ui/sort_fields', :f => s %>
      <% end %>

      <%= f.grouping_fields do |g| %>
        <%= render 'ransack_ui/grouping_fields', :f => g, :options => options %>
      <% end %>

      <%= link_to_add_fields t('ransack.add_group'), f, :grouping, options %>

      <div class="pull-right">
        <%= hidden_field_tag :distinct, '1' %>
        <%= hidden_field_tag :page, '1' %>
        <%= f.submit t('ransack.submit'), :class => 'btn btn-primary btn-large submit-search', :id => 'submitButton' %>
      </div>
    </div>
  </div>
<% end %>
<% model = controller.controller_name.classify.constantize %>
<% @search = model.all.accessible_by(current_ability).ransack(params[:q]).result.ids %>
<script>
  // Define a function to perform the search and return a Promise
  function performSearch() {
    return new Promise(function(resolve, reject) {
      // Run the search code
      var results = "<%= @search = controller.controller_name.classify.constantize.all.accessible_by(current_ability).ransack(params[:q]).result.ids %>";
      console.log(results);
      
      // Resolve the Promise with the search results
      resolve(results);
    });
  }

  // Add an event listener for the form submission
  $('#submitButton').on('click', function (event) {
    // Prevent the default form submission behavior
    event.preventDefault();

    // Call the performSearch function and handle the Promise
    performSearch().then(function(results) {
      // Set the form action to the correct URL
      $('form.ransack_search').attr('action', '<%= url_for(action: :index) %>');
      
      // Manually trigger a synchronous form submission
      $('form.ransack_search').submit();
    });
  });
</script>


